---
interface Props {
    label?: string;
    value: string;
    href?: string;
}
const { label, value, href } = Astro.props;
---

<div>
    {label && <dt class="font-medium text-text-heading">{label}</dt>}
    {
        label ? (
            <dd class="text-text-body mt-1">
                {href ? (
                    <a href={href} class="hover:text-primary transition-colors duration-300">
                        {value}
                    </a>
                ) : (
                    value
                )}
            </dd>
        ) : (
            <p class="text-footer-text">
                {href ? (
                    <a href={href} class="hover:text-primary transition-colors duration-300">
                        {value}
                    </a>
                ) : (
                    value
                )}
            </p>
        )
    }
</div>
